.section-alert{
    width: 100%;
}


 .alert-box{
    padding: 14px;
    max-width: fit-content;
    height: 122px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 66px 0 66px 0;
}

.left-content{
    display: flex;
    align-items: center;
}

.left-content h3{
    margin-left: 42px;
    margin-right: 152px;
}

 .alert-box:first-child{
    margin: 0 0 66px 0;
}

 .alert-box:last-child{
    margin: 66px 0 0 0;
}

 .success{
    border: 2px solid #C9E6CF;
    background-color: #ECF8F0;
}

 .alert-box .alert-icon{
    width: 94px;
    height: 94px;
    border-radius: 38px;
}

 .alert-box .icon-control{
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: center;
}

 .success .success-icon{
    background-color: #35BE5E;
}

 .infor{
    border: 2px solid #BED1E4;
    background-color: #E9F1FB;
}

 .infor .information-icon{
    background-color: #0077EC;
}

 .warnning{
    border: 2px solid #F7E2BB;
    background-color: #FEF8EC;
}

 .warnning .warning-icon{
    background-color: #F29E00;
}

 .fails{
    border: 2px solid #EED0C9;
    background-color: #FDEFEB;
}

 .fails .destructive-icon{
    background-color: #F35525;
}

 .alert-box h3{
    font-size: 46px;
    font-weight: 400;
    
}

 .alert-box .alert-close{
    width: 68px;
    height: 68px;
    border: 0;
    background-color: transparent;
}

 .alert-box .alert-close:hover{
    width: 68px;
    height: 68px;
    border-radius: 23px;
    border: 0;
    background-color: white;
    color: black;
}

 .alert-box .fa-xmark:hover{
    color: black!important;
}

