.country-flag{
    display: flex;
}

.flag-img img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-color: black;
    border: 1px solid;
}

.flag-img{
    margin: 0 10px;
}

.flag-tel{
    margin-left: 5px;
}