.country-flag{
    display: flex;
    border: 3px solid;
    align-items: center;
    padding: 10px 0;
}

.country-flag span{
    font-weight: bold;
}

.flag-img img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-color: black;
    border: 1px solid;
}

.flag-img{
    margin: 0 10px;
}

.flag-name{
    display: inline-flex;
    text-align: center;
}

.flag-tel{
    margin-left: 5px;
}

.flagBorderGreen{
    border-color: rgb(26, 199, 20);
}

.flagBorderRed{
    border-color: red;
}